@tailwind base;
@tailwind components;
@tailwind utilities;
select:required:invalid {
  color: rgb(160, 160, 160);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
